# Education Cost-Benefit
---

## Set Up

In [32]:
# Dependencies
import requests
import pandas as pd
import json
import numpy as np

In [2]:
# Data file paths
bach_source = "Resources/payscaleBachelors.csv"
alum_source = "Resources/payscaleAlumni.csv"
assc_source = "Resources/payscaleAssoc.csv"

In [3]:
# Open source files
raw_bach = pd.read_csv(bach_source)
raw_alum = pd.read_csv(alum_source)
raw_assc = pd.read_csv(assc_source)

#raw_assc.columns

In [4]:
# Extract relevant info
base_bach = raw_bach[['School Name', 'School Type', 'Early Career Pay', 'Mid-Career Pay', '% STEM Degrees']]
base_alum = raw_alum[['School Name', 'Early Career Pay', 'Mid-Career Pay']]
base_assc = raw_assc[['School Name', 'School Sector', 'Early Career Pay', 'Mid-Career Pay', '% STEM Degrees']]


# Merge Alum and Bach data
comb_alum = pd.merge(base_bach, base_alum, on="School Name", how="left", suffixes=("", " BS Plus"))

# Fix merged school type null values
#comb_alum["School Type BS Only"] = comb_alum["School Type BS Only"].fillna(comb_alum["School Type BS Plus"])
# Fix merged % STEM null values
#comb_alum["% STEM Degrees BS Only"] = comb_alum["% STEM Degrees BS Only"].fillna(comb_alum["% STEM Degrees BS Plus"])

# Find difference between Alum and Bach data
comb_alum["EC Pay Growth"] = comb_alum["Early Career Pay BS Plus"] - comb_alum["Early Career Pay"]
comb_alum["EC Pay Pct"] = comb_alum["EC Pay Growth"] / comb_alum["Early Career Pay"]
comb_alum["MC Pay Growth"] = comb_alum["Mid-Career Pay BS Plus"] - comb_alum["Mid-Career Pay"]
comb_alum["MC Pay Pct"] = comb_alum["MC Pay Growth"] / comb_alum["Mid-Career Pay"]

#display(comb_alum)
comb_alum.isna().sum()

School Name                 0
School Type                 0
Early Career Pay            0
Mid-Career Pay              0
% STEM Degrees              1
Early Career Pay BS Plus    2
Mid-Career Pay BS Plus      2
EC Pay Growth               2
EC Pay Pct                  2
MC Pay Growth               2
MC Pay Pct                  2
dtype: int64

In [57]:
# Strip out School Type Data
#comb_alum["Private"] = comb_alum.loc[:, "School Type"].apply(lambda s:"Private" in s)
#comb_alum["State"] = comb_alum.loc[:, "School Type"].apply(lambda s:"State" in s)
#comb_alum["Ivy League"] = comb_alum.loc[:, "School Type"].apply(lambda s:"Ivy League" in s)
#comb_alum["Sports"] = comb_alum.loc[:, "School Type"].apply(lambda s:"Sports" in s)
#comb_alum["Religious"] = comb_alum.loc[:, "School Type"].apply(lambda s:"Religious" in s)
#comb_alum["Research"] = comb_alum.loc[:, "School Type"].apply(lambda s:"Research" in s)
#comb_alum["Engineering"] = comb_alum.loc[:, "School Type"].apply(lambda s:"Engineering" in s)

In [5]:
# Create slices of data based on School Types
privt_data = comb_alum[comb_alum["School Type"].str.contains("Private") == True]
state_data = comb_alum[comb_alum["School Type"].str.contains("State") == True]
ivylg_data = comb_alum[comb_alum["School Type"].str.contains("Ivy League") == True]
sport_data = comb_alum[comb_alum["School Type"].str.contains("Sport") == True]
relig_data = comb_alum[comb_alum["School Type"].str.contains("Religious") == True]
rsrch_data = comb_alum[comb_alum["School Type"].str.contains("Research") == True]
engnr_data = comb_alum[comb_alum["School Type"].str.contains("Engineering") == True]

In [6]:
display(ivylg_data)

,School Name,School Type,Early Career Pay,Mid-Career Pay,% STEM Degrees,Early Career Pay BS Plus,Mid-Career Pay BS Plus,EC Pay Growth,EC Pay Pct,MC Pay Growth,MC Pay Pct
1,Princeton University,"Ivy League, Private School, Research Universit...",69800,147800,0.47,71000.0,151900.0,1200.0,0.017192,4100.0,0.027740
8,Harvard University,"Ivy League, Private School, Research Universit...",69200,140700,0.19,71200.0,147500.0,2000.0,0.028902,6800.0,0.048330
10,Dartmouth College,"Ivy League, Private School, Research Universit...",66300,140300,0.32,68300.0,150800.0,2000.0,0.030166,10500.0,0.074840
19,University of Pennsylvania,"Ivy League, Private School, Research Universit...",68100,134800,0.22,70500.0,143200.0,2400.0,0.035242,8400.0,0.062315
24,Yale University,"Ivy League, Private School, Research Universit...",66800,132100,0.23,70300.0,143300.0,3500.0,0.052395,11200.0,0.084784
25,Brown University,"Ivy League, Private School, Research Universit...",63000,132000,0.39,64600.0,135400.0,1600.0,0.025397,3400.0,0.025758
43,Columbia University in the City of New York,"Ivy League, Private School, Research Universit...",66000,124700,0.30,67500.0,130100.0,1500.0,0.022727,5400.0,0.043304
48,Cornell University,"Ivy League, Private School, Research Universit...",65600,123900,0.43,67700.0,129600.0,2100.0,0.032012,5700.0,0.046005

---
## Level of Education

In [ ]:
# How do best Associates compare to best Bachelors

# How do best Associates compare to bachelors means

# How do best Associates compare to worst Bachelors

---
## School Type Factors
### Ivy League

In [16]:
#  Mean info
ivylg_mean = ivylg_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].mean()

#  Create summary data frame to hold all results
ivylg_summ = pd.DataFrame(ivylg_mean, columns=["Mean"])

#  Median info
ivylg_medi = ivylg_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].median()
#  Add median info to summary
ivylg_summ["Median"] = ivylg_medi

ivylg_summ

                                   Mean         Median
Early Career Pay           66850.000000   66550.000000
Mid-Career Pay            134537.500000  133450.000000
Early Career Pay BS Plus   68887.500000   69300.000000
Mid-Career Pay BS Plus    141475.000000  143250.000000
EC Pay Growth               2037.500000    2000.000000
EC Pay Pct                     0.030504       0.029534
MC Pay Growth               6937.500000    6250.000000
MC Pay Pct                     0.051634       0.047167
% STEM Degrees                 0.318750       0.310000

### Private Schools

In [17]:
#  Mean info
privt_mean = privt_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].mean()
#  Create summary data frame to hold all results
privt_summ = pd.DataFrame(privt_mean, columns=["Mean"])
#  Median info
privt_medi = privt_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].median()
#  Add median info to summary
privt_summ["Median"] = privt_medi

privt_summ

                                  Mean        Median
Early Career Pay          46758.829787  45700.000000
Mid-Career Pay            83960.531915  80450.000000
Early Career Pay BS Plus  47751.705757  46600.000000
Mid-Career Pay BS Plus    86373.773987  82600.000000
EC Pay Growth               986.993603    900.000000
EC Pay Pct                    0.021061      0.019473
MC Pay Growth              2412.153518   2000.000000
MC Pay Pct                    0.027473      0.025238
% STEM Degrees                0.124266      0.080000

### State Schools

In [18]:
#  Mean info
state_mean = state_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].mean()
#  Create summary data frame to hold all results
state_summ = pd.DataFrame(state_mean, columns=["Mean"])
#  Median info
state_medi = state_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].median()
#  Add median info to summary
state_summ["Median"] = state_medi

state_summ

                                  Mean        Median
Early Career Pay          47097.359155  46200.000000
Mid-Career Pay            83850.704225  82350.000000
Early Career Pay BS Plus  47882.570423  47000.000000
Mid-Career Pay BS Plus    85882.746479  84000.000000
EC Pay Growth               785.211268    700.000000
EC Pay Pct                    0.016655      0.015689
MC Pay Growth              2032.042254   1900.000000
MC Pay Pct                    0.023764      0.022545
% STEM Degrees                0.155750      0.120000

### Religious Schools

In [19]:
#  Mean info
relig_mean = relig_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].mean()
#  Create summary data frame to hold all results
relig_summ = pd.DataFrame(relig_mean, columns=["Mean"])
#  Median info
relig_medi = relig_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].median()
#  Add median info to summary
relig_summ["Median"] = relig_medi

relig_summ

                                  Mean        Median
Early Career Pay          44822.321429  44600.000000
Mid-Career Pay            79191.071429  78200.000000
Early Career Pay BS Plus  45750.358423  45500.000000
Mid-Career Pay BS Plus    81257.526882  79800.000000
EC Pay Growth               925.089606    900.000000
EC Pay Pct                    0.020730      0.019512
MC Pay Growth              2081.720430   1900.000000
MC Pay Pct                    0.025609      0.024724
% STEM Degrees                0.100643      0.080000

### Research Schools

In [20]:
#  Mean info
rsrch_mean = rsrch_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].mean()
#  Create summary data frame to hold all results
rsrch_summ = pd.DataFrame(rsrch_mean, columns=["Mean"])
#  Median info
rsrch_medi = rsrch_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].median()
#  Add median info to summary
rsrch_summ["Median"] = rsrch_medi

rsrch_summ

                                  Mean        Median
Early Career Pay          51586.513158  50200.000000
Mid-Career Pay            95723.026316  92950.000000
Early Career Pay BS Plus  52647.368421  51050.000000
Mid-Career Pay BS Plus    98702.960526  95650.000000
EC Pay Growth              1060.855263    900.000000
EC Pay Pct                    0.020241      0.018080
MC Pay Growth              2979.934211   2600.000000
MC Pay Pct                    0.029888      0.027759
% STEM Degrees                0.212697      0.180000

### Engineering Schools

In [21]:
#  Mean info
engnr_mean = engnr_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].mean()
#  Create summary data frame to hold all results
engnr_summ = pd.DataFrame(engnr_mean, columns=["Mean"])
#  Median info
engnr_medi = engnr_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].median()
#  Add median info to summary
engnr_summ["Median"] = engnr_medi

engnr_summ

                                   Mean         Median
Early Career Pay           64725.714286   63900.000000
Mid-Career Pay            119300.000000  119700.000000
Early Career Pay BS Plus   65942.857143   65800.000000
Mid-Career Pay BS Plus    123011.428571  122800.000000
EC Pay Growth               1217.142857    1000.000000
EC Pay Pct                     0.018176       0.016032
MC Pay Growth               3711.428571    3900.000000
MC Pay Pct                     0.031342       0.032566
% STEM Degrees                 0.707429       0.690000

### Sports Schools

In [24]:
#  Mean info
sport_mean = sport_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].mean()
#  Create summary data frame to hold all results
sport_summ = pd.DataFrame(sport_mean, columns=["Mean"])
#  Median info
sport_medi = sport_data[["Early Career Pay", "Mid-Career Pay", 
                         "Early Career Pay BS Plus", "Mid-Career Pay BS Plus",
                         "EC Pay Growth", "EC Pay Pct", "MC Pay Growth", "MC Pay Pct",
                         "% STEM Degrees"
                        ]].median()
#  Add median info to summary
sport_summ["Median"] = sport_medi

sport_summ

                                  Mean        Median
Early Career Pay          50322.571429  49300.000000
Mid-Career Pay            93702.285714  91600.000000
Early Career Pay BS Plus  51374.857143  50300.000000
Mid-Career Pay BS Plus    96519.714286  94400.000000
EC Pay Growth              1052.285714    900.000000
EC Pay Pct                    0.020656      0.018411
MC Pay Growth              2817.428571   2500.000000
MC Pay Pct                    0.029215      0.027511
% STEM Degrees                0.182914      0.160000

In [30]:
def typeStrip(lists, ylbl, xlbl):
    x = [i.loc[xlbl, ylbl] for i in lists]
    return x

In [33]:
type_dfs = [privt_summ, state_summ, engnr_summ, rsrch_summ, ivylg_summ, sport_summ, relig_summ]
type_lbls = ["Private", "State", "Engineering", "Research", "Ivy League", "Sports", "Religious"]
x = np.arange(len(type_lbls))
type_ecp = typeStrip(type_dfs, "Mean", "Early Career Pay")
type_mcp = typeStrip(type_dfs, "Mean", "Mid-Career Pay")
type_pecp = typeStrip(type_dfs, "Mean", "Early Career Pay BS Plus")
type_pmcp = typeStrip(type_dfs, "Mean", "Mid-Career Pay BS Plus")